<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Просто страница страница</title>
</head>
<style>
    nav {
        font-size: 30px;
    }
</style>

<body>
    <%- include ('./partials/navigation.ejs') %>
        <h1>Привет, это обычная ничем не примечательная страница</h1>
        <h3>А это ваши переданные параметры:</h3>
        <ul>
            <% Object.keys(params).forEach((key)=>{ %>
                <li>
                    <%= key %>:<%= params[key] %>
                </li>
                <% }) %>
        </ul>
</body>

</html>